body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
color:white;

background-image:url("images/background.webp");
background-size:cover;
background-repeat:no-repeat;
background-position: center top;
background-attachment:fixed;
}

header{
background:rgba(0,0,0,0.7);
padding:15px;
display:flex;
align-items:center;
justify-content:space-between;
}

nav a{
color:white;
text-decoration:none;
margin:0 15px;
font-size:18px;
font-weight:bold;
}

nav a:hover{
color:#00eaff;
}

.logo{
height:60px;
}

.container{
max-width:1000px;
margin:auto;
padding:40px;
background:rgba(0,0,0,0.65);
border-radius:10px;
}

h1{
color:#00eaff;
}

.discord-button{
display:inline-block;
background:#5865F2;
padding:12px 25px;
margin:20px 0;
color:white;
text-decoration:none;
border-radius:6px;
font-weight:bold;
}

.status{
margin-top:20px;
padding:15px;
background:#111;
border-left:5px solid #ff00c8;
}

.gallery img{
width:100%;
margin-top:20px;
border-radius:10px;
}
